.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #333;
  padding: 30px;
}
.h1 {
  font-weight: 400;
  font-size: 40px;
  color: #333;
}
.h2 {
  font-weight: 400;
  font-size: 30px;
  color: #333;
}
